

body {
 background-color: purple;
}

h1 {
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
 background-color: gold;
 font-size: 50px;
 
}

h2 {
 text-align: center;
 background-color: gold;
}

figcaption {
 text-align: center;
 background-color: gold;
 margin-top: 5px;
 padding-left: 5px;
 font-size: 20;
 display: inline;
 float: center;
 padding-right: 5px;
 clear: none;
 font-style: italic;
}

p {
 background-color: gold;
 display: inline;
 font-weight: bold;
}

img {
 max-width: 100%;
 display: block;
 height: auto;
 margin: 0 auto;
 ;
}

h3 {
 background-color: gold;
 text-decoration: underline;
 font-size: x-large;
}

li {
 background-color: gold;
 
}